$black: #1d2730;
$yellow: #edce60;

@mixin form {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
  }
  button {
    width: 115px;
    font-family: 'Lato', sans-serif;
    padding: {
      left: 8px;
      right: 8px;
      top: 12px;
      bottom: 12px;
    }
    font-size: 17px;
    border-radius: 30px;
    background-color: $yellow;
    border: none;
    color: $black;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.22, 1.55);
    &:hover {
      cursor: pointer;
      background-color: darken($yellow, 7%);
    }
    margin: {
      left: auto;
      right: auto;
      top: 12px;
    }
  }
}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginLogout {
  font-family: 'Lato', sans-serif;
  width: 80px;
  padding: {
    left: 15px;
    right: 15px;
    top: 12px;
    bottom: 12px;
  }
  font-size: 15px;
  border-radius: 30px;
  background-color: $yellow;
  border: none;
  color: $black;
  transition: all .2s cubic-bezier(0.68, -0.55, 0.22, 1.55);
  &:hover {
    cursor: pointer;
    background-color: darken($yellow, 7%);
  }
}

.loginMessage {
  color: white;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 40px;
}

.formDiv {
  margin-top: 30px;
  .container {
    h2 {
      color: white;
      margin-bottom: 35px;
      font-weight: 400;
    }
  }
}

.form {
  margin-bottom: 75px;
  @include form;
}

input {
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  padding: 17px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: $black;
}

input:focus {
  background-color: lighten($yellow, 7%);
  outline-color: lighten($black, 12%);
}

.h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
}

.h3 {
  color: $yellow;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
}

.player-div {
  border: 1px solid white;
  width: 80%;
  margin: {
    left: auto;
    right: auto;
    bottom: 100px;
  }
}

.display-player {
  width: 90%;
  margin: {
    left: auto;
    right: auto;
    bottom: 50px;
    top: 50px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    li {
      padding: 15px;
      background-color: $yellow;
      border-radius: 10px;
      margin: {
        bottom: 15px;
      }
      width: 250px;
      transition: all .2s cubic-bezier(0.68, -0.55, 0.22, 1.55);
      &:hover {
        background-color: darken($yellow, 5%);
        cursor: pointer;
        transform: scale(1.02);
      }
    }
  }
  h2 {
    color: white;
    margin-bottom: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid white;
    font-weight: 400;
  }
  h3 {
    font-size: 20px;
  }
}

.bold {
  font-weight: bold;
}

#gameTitle {
  &:focus {
    background-color: white;
    outline: none;
  }
}

.game-search {
  @include form;
  width: 64%;
  button {
    margin-top: 1px;
  }
  margin-bottom: 20px;
}

.game-select {
  margin-bottom: 35px;
  select {
    width: 40%;
    height: 50px;
    // background-color: $yellow;
    font-size: 15px;
  }
}

.remove {
  width: 50%;
  font-family: 'Lato', sans-serif;
  padding: {
    left: 8px;
    right: 8px;
    top: 5px;
    bottom: 5px;
  }
  font-size: 16px;
  border-radius: 30px;
  background-color: $black;
  border: none;
  color: white;
  transition: all .2s cubic-bezier(0.68, -0.55, 0.22, 1.55);
  &:hover {
    cursor: pointer;
    background-color: white;
    color: $black;
  }
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.your-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  h3 {
    color: white;
    font-weight: 400;
    margin: 5px;
  }
  h4 {
    color: white;
    font-weight: 300;
    margin: 5px;
  }
  margin-bottom: 50px;
}
